body {
    margin: 0;
    padding: 0;
    background-color: rgb(234, 241, 241);
  }
  
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f1e509;
    height: 3cm;
    z-index: 1000; /* Asigură că header-ul este afișat peste conținutul paginii */;
  }

  a{
    color: black;
    position: relative;
    top: 50%;
    left: 30%;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: normal;
    line-height: 0.5;
    text-decoration: blueviolet; /* Elimină sublinierea */
    font-weight: bold; /* Ingroasă textul */
    margin-right: 10px; /* Adaugă un spațiu de 10px între fiecare link */
    
  }

  h1{
    color: black;
    font-size: 100px;
    margin-bottom: 30px;
  }

  h2{
    color: black;
    font-size: 50px;
    margin-bottom: 30px;
    line-height: 0;
  }

  p{
    color: black;
    font-size: 30px;
    line-height: 1.5;
    margin-bottom: 10px; /* Adaugă un spațiu de 10px în partea de jos a paragrafului */
  }

  .centered {
    text-align: center;
  }

  h3 {
    color: black;
    font-size: 30px;
    margin-bottom: 30px;
    line-height: 0;
  }

  ul {
    margin-top: 0;
    margin-bottom: 30px;
    padding-left: 20px;
    list-style-type: disc;
    clear: both; /* Elimină învăluirea elementelor din jurul imaginii */
    font-size: 20px;
}





